.navbar-ul li{
  display: inline-block;
  padding: 10px;
}

.navbar-ul{
  padding: 5px;
  margin: 0;
  background-color: #61dafb;
  
}
.navbar-ul li a{
  color: white;
  padding: 5px;
  text-decoration: none;
}

.footer{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: #61dafb;
}

/* Center the Signup component */
.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; /* Center vertically */
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-top: 50px
}

/* Form styles */
.signup-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Center the Signup component */
.loign-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; /* Center vertically */
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-top: 50px
}

/* Form styles */
.login-form {
  display: flex;
  /* flex-direction: column; */
  width: 100%;
}

.form-group {
  margin-bottom: 10px;
  flex-direction: row-reverse !important;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  border-color: #61dafb;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #14a2c9;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
